body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  padding: 1em;
}

blockquote {
  padding-left: 0.75em;
  font-size: 1.5em;
  border-left: 3px solid #ccc;
  color: #1A75FF;
}

blockquote p {
  margin: 0;
}

blockquote::before {
  font-size: 2em;
  content: '"';
}

h1,
h2,
h4 {
  font-family: 'Roboto Slab', serif;
}

a,
a:link {
  color: #3E606F;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #91AA9D;
}

